<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" ng-app> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>J2 Class Review</title>
  
  <!-- Included CSS Files (Uncompressed) -->
  <!--
  <link rel="stylesheet" href="stylesheets/foundation.css">
  -->
  
  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="stylesheets/foundation.min.css">
  <link rel="stylesheet" href="stylesheets/app.css">

  <script src="javascripts/modernizr.foundation.js"></script>
  <script src="javascripts/angularjs/angular-1.0.1.js"></script>

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>

  <div class="row">
    <div class="twelve columns">
      <h1>J2 Class Review! 1 Kings</h1>
      <hr />
    </div>
  </div>
  
  <div class="row">
    <div class="twelve columns">
      <dl class="nice tabs contained">
        <dd><a href="#memory-verses">Memory Verses</a></dd>
        <dd><a href="#jeopardy">Jeopardy (sorta)</a></dd>
      </dl>
      <ul class="tabs-content contained">
        <li id="memory-versesTab" ng-controller="MVCtrl">
          <ol id="verses-list">
            <li ng-repeat="verse in verses">
              <a ng-click="setSelectedVerse(verse)" data-reveal-id="verseModal" data-closeonbackgroundclick="false">{{verse.book}} {{verse.reference}}</a>
            </li>
          </ol>
          <div id="verseModal" class="reveal-modal expand">
            <h4>{{selectedVerse.book}} {{selectedVerse.reference}}</h4>
            <p ng-bind-html-unsafe="selectedVerse.htmlText" class="largerText"></p>
            <p><button ng-click="toggleAnswers()" class="nice small button secondary">Toggle Answers</button></p>
            <a class="close-reveal-modal">×</a>
          </div>
        </li>
        <li id="jeopardyTab" ng-controller="JeopardyCtrl">
          <div class="row">
            <div class="six columns">
              <p class="points-container">Points (Sistahs): <span id="points" ng-bind="points"></span></p>
              <ul class="button-group">
                <li><button ng-click="incrementPoints(1)" class="nice small success button">Add</button></li>
                <li><button ng-click="incrementPoints(-1)" class="nice small alert button">Subtract</button></li>
              </ul>
            </div>
            <div class="six columns">
              <p class="points-container">Points (Brothahs): <span id="points" ng-bind="points2"></span></p>
              <ul class="button-group">
                <li><button ng-click="incrementPoints2(1)" class="nice small success button">Add</button></li>
                <li><button ng-click="incrementPoints2(-1)" class="nice small alert button">Subtract</button></li>
              </ul>
            </div>

          </div>
          <div class="row">
            <div class="columns three questions-grid" ng-repeat="category in categories">
              <h4>{{category}}</h4>
              <a class="question-badge letter-background-badge" ng-repeat="question in questions[category]" ng-click="setSelectedQuestion(question)" data-reveal-id="questionModal">
                <span ng-class="coveredClass(question)">{{$index + 1}}</span>
              </a>
            </div>
          </div>
          
          <div id="questionModal" class="reveal-modal expand">
            <a class="close-reveal-modal">x</a>
            <p class="info panel largerText">{{selectedQuestion.text}}</p>

            <div class="answer-timer-container row">

              <div class="nine columns possible-answers">
                <p>
                  <button ng-click="showAnswers=!showAnswers" class="nice small button">Toggle Possible Answers</button>
                </p>
                <ul ng-show="showAnswers">
                  <li class="answer show" ng-repeat="answer in selectedQuestion.answers">{{answer}}</li>
                </ul>
              </div>
              <div class="two columns">
                <p class="countdown-timer" ng-bind="timeLeft"></p>
                <button ng-click="toggleCountDown()" class="nice small button secondary">Pause/Resume</button>
                <button ng-click="addTime()" class="nice small button secondary">Add Time</button>
              </div>

            </div>
            
          </div>
          <div id="keyphraseModal" class="reveal-modal xlarge">
            <a class="close-reveal-modal">x</a>
            <h3>Key Phrases</h3>
            <ul id="phrases-list">
              <li ng-repeat="phrase in selectedKeyphrase.phrases" class="panel">{{phrase}}</li>
            </ul>
            <div class="answer-timer-container">
              <p ng-class="answerClasses()">{{selectedKeyphrase.book}}</p>
              <p class="countdown-timer" ng-bind="timeLeft"></p>
            </div>
            <p>
              <button ng-click="showBook()" class="nice small button">Show Book</button>
              <button ng-click="toggleCountDown()" class="nice small button secondary">Count Down</button>
              <button ng-click="addTime()" class="nice small button secondary">Add Time</button>
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  
  <!-- Included JS Files (Compressed) -->
  <script src="javascripts/underscore-min.js"></script>
  <script src="javascripts/foundation.min.js"></script>
  <script type="text/javascript" src="javascripts/data.js"></script>
  <script src="javascripts/angularapp.js"></script>
  
  <!-- Initialize JS Plugins -->
  <script src="javascripts/app.js"></script>
</body>
</html>
